body {
  background-color: #f5f5dc;
  /* background-image: url("./Images/ITBackground.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logIn {
  margin-top: 20px;
}

.App {
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
