#view-container {
    background-color: whitesmoke;
    border-radius: 10px;
    -webkit-box-shadow:0 0 20px rgb(134, 134, 134); 
    -moz-box-shadow: 0 0 20px rgb(134, 134, 134); 
    box-shadow:0 0 20px rgb(134, 134, 134);
}

#container-1{
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: 50%;
    border-radius: 10px;
    border: .5px solid;
    padding: 10px;
}

#custom-nav{
    border-top-left-radius: 10px;
}

#view-container {
    min-width: 95%;
}