hr {
  background-color: white;
}

.login {
  width:325px;
  padding: 8px;
  background-color: rgba(112, 106, 106, 0.6);

  color:white;
  border-radius: 10px;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color:rgba(0, 0, 0, 0.81)
}

#login_container {
  padding: 8px;
  border-radius: 10px;
}

#loginErr {
  color: #ffffff;
  font-weight: bold;
}

#helper {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 6px;
  border-radius: 2px;
  background-color: rgba(51, 49, 49, 0.9);

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color:rgba(0, 0, 0, 0.81)
}

#helper-row {
  margin: 1px;

}

