hr {
  background-color: white;
}

.login {
  width:325px;
  padding: 8px;
  /*
  background-color: lightBlue;
   */
  color:white;
  border-radius: 10px;
}

#loginErr {
  color: rgb(177, 2, 2);
}

#loginSubmit {
  margin-bottom: 10px;
}

#inputGroup {
  widows: 200px;
  width: 95%;
}
